.dialogues {
  color: rgb(23, 88, 104);
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogueName {
  padding: 5px;
}

.dialogueName a {
  text-decoration: none;
  color: rgb(23, 88, 104);
}

.dialogueName :active {
  color: brown;
}

.messageName {
  padding: 5px;
}

.messageName {
}
